   @import './scss/resets';
   @import './scss/variables';

   //partials are the different css files broken down to smaller pieces. 
   //This function returns map-get function which modifies font-weights variable and changes that according to weight name inputed to function

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
//mixins should define style as in
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
    background: $primary-color;
    color: $text-color;
}

.main {
  @include flexCenter(row);
  width: 80% - 20%;
  margin: 0 auto;  

  #{&}_paragraph1 {
    font-weight: weight(bold);

    &:hover {
        color: pink;
    }
  }

  #{&}_paragraph2 {
    // extends means that you take the styling applied to paragraph and apply it in this case to paragraph 2
    @extend .main_paragraph1;
    
    &:hover {
      color: $accent-color;
    }
    }

  @include mobile {
    flex-direction: column;
  }
}




.light {
  @include theme($light-theme: true);
}